.button {
    padding: 15px 20px;
    background-color: var(--color-yellow);
    border: none;
    font-weight: bold;
    color: var(--color-black);
    cursor: pointer;
}

.button:hover {
    background-color: #EDC14A;
}