:root {
    --color-black: #232536;
    --color-yellow: #FFD050;
    --color-purple: #592EA9;
    --color-dark-grey: #4C4C4C;
    --color-medium-grey: #6D6E76;
    --color-light-grey: #F4F4F4;
    --color-lavender: #F4F0F8;
    --color-light-yellow: #FBF6EA;
    --color-white: #FFF;
}

* {
    font-family: Sen, 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #F44336;
}
